.popup1 { display: none; background-color: #E0EBFD; border: 1px solid #4285F4;
	z-index: 100; position: absolute; padding: 8px 5px 8px 5px;
	-moz-border-radius: 15px; border-radius: 15px; -webkit-border-radius: 15px; }
#popup_overlay{position:fixed; top:0px; left:0px; height:100%; width:100%;}
.popup_hide{z-index:-100;}
.popup_overlayBG{background-color:#000;  z-index:99;}

#edit-game table { width: auto; border-collapse: collapse; border: 1px solid; }
#edit-game table th { border-right: 1px solid; }

.game-golf { min-width: 600px; min-height: 250px; }
.buttons { float: right; }
.tabberlive { margin-top: 2px; }

.ed-small input[type=text] { width: 40px; }
.plr-name { width: 140px!important; }
.plr-member-code { width: 70px!important; }

.readonly { background-color: transparent; border: none; width: auto; }

/* Editor */
#game .msg { margin-bottom: 0; } #game table { margin-top: 1.5em; }

.expandable:before { content: "open ";  } .expandable:after { content: "..."; }
.expanded:before   { content: "close "; } .expanded:after   { content: ""; }

.ed-cont { margin-top: 6px; }
.ed-cont span input[type=radio] { position: relative; top: 2px; }
.ed-cont span label { font-weight: normal!important; display: inline!important; }
#num_ed a { padding: 6px; width: 15px; text-align: center; margin: 0 5px 5px 0; display: inline-block;
	text-decoration: none; font-weight: bold; background-color: #CCCCFF;
	-moz-border-radius: 8px; border-radius: 8px; -webkit-border-radius: 8px; }

/* Golf */
