/* Layout */
body { font-size: 14pt; font-variant: normal; font-weight: normal; cursor: default;
	line-height: 1.5em; color: #484848; background-color: #F2E4C0; padding: 0; margin: 0; }
#wrapper { border: 1px #996600 solid; min-width: 780px; margin: 10px 50px 25px 50px; }
#main { background-color: #fff; }

#header { font-family: Cagliostro, sans-serif; border-bottom: 1px solid #336699;
  background: #488F81 }
#header h2 { font-size: 22px; margin: 0; padding-top: 8px; text-align: center; letter-spacing: 6px;
  text-transform: uppercase; }
#header h2 a, #nav a { color: #fff; text-decoration: none; }
#header h2 a:hover { color: cyan; }
#header #tagline { font-size: 24px; line-height: 40px; text-transform: none; letter-spacing: 3px;
	position: relative; left: -8px; /* doesnt align otherwise */ }

#nav { margin-top: 5px; text-align: center; }
#nav a { font-size: 16pt; margin-right: 3px; text-align: center; display: inline-block;
  color: #fff; padding: 4px 10px 4px 10px; letter-spacing: 3px; font-weight: bold; }
#nav a:hover, #nav a.current { text-decoration: underline; }
#nav a.current { color: cyan; }
#help-link { color: #EABCDF!important; }

#footer { padding: 5px 15px 5px 15px; border-top: 3px solid #488F81; 
	font-size: small; color: #488F81; font-weight: bold; letter-spacing: 1px; }
#footer .right { float: right; }
#footer .cselian { color: #395A94; font: bold 12pt Georgia; }

/* Content: */
/* tlr.css: contenttext2 */
#content { padding: 15px; }
#content, .content th, .content td { font-family: Cagliostro, Verdana; 
  font-size: 12pt; color:#484848; line-height:15pt; }
.content th, .content td { vertical-align: top; }
.content th { color: #6d6b6b; text-align: right; padding-right: 4px; }
#content p { margin: 0 0 8px 0; }
#content h3 { margin: 12px 0 5px 0; }
#content a, #footer a { color: #3E9686; font-weight: bold; }
.head{ font-size: large!important; color: #6d6b6b; font-weight:bold; letter-spacing: 2px; }

form table td, form table th { vertical-align: top; }
form table th { text-align: right; padding-bottom: 8px; }
.error { color: #960000; font-weight: bold; font-size: small; }