/* $Id:example.css, v 1.5 2006/03/27 02:44:36 pat Exp $ */
/*--------------------------------------------------  REQUIRED to hide the non-active tab content.  But do not hide them in the print stylesheet!  --------------------------------------------------*/
.tabberlive .tabbertabhide{display:none;}
/*--------------------------------------------------  .tabber = before the tabber interface is set up  .tabberlive = after the tabber interface is set up  --------------------------------------------------*/
.tabber{}
.tabberlive{}
/*--------------------------------------------------  ul.tabbernav = the tab navigation list  li.tabberactive = the active tab  --------------------------------------------------*/
ul.tabbernav{margin:0; padding: 3px 0px 0px 0px; border-bottom:1px solid #778; font:bold 12px Verdana,sans-serif;line-height: 20px;}
ul.tabbernav li{list-style:none; margin:0; display:inline-block; line-height: 20px; height: 21px; overflow: hidden;}
ul.tabbernav li a{padding: 0px .5em 0px .5em; display:inline-block; margin-left:3px;
	border:1px solid #778; border-bottom:none; background:#DDE; text-decoration:none;}
ul.tabbernav li a:link{color:#448; }
ul.tabbernav li a:visited{color:#667; }
ul.tabbernav li a:hover{color:#000; background:#AAE; border-color:#227;}
ul.tabbernav li.tabberactive a{background-color:#fff; border-bottom:1px solid #fff;}
ul.tabbernav li.tabberactive a:hover{color:#000;}
/*--------------------------------------------------  .tabbertab = the tab content  Add style only after the tabber interface is set up (.tabberlive)  --------------------------------------------------*/
.tabberlive .tabbertab{padding:5px; border:1px solid #aaa; border-top:0;
/* If you don't want the tab size changing whenever a tab is changed    you can set a fixed height */
/* height:200px; */
/* If you set a fix height set overflow to auto and you will get a    scrollbar when necessary */
/* overflow:auto; */
}
/* If desired,hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2{display:none;}
.tabberlive .tabbertab h3{display:none;}
/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1{}
.tabberlive#tab2{}
.tabberlive#tab2 .tabbertab{height:200px; overflow:auto;}
